<h1>{{ title }} app is running!</h1>

<div class="container mt-4" >
 
  <div class="card">
          <h1>Item Registation</h1>
   
  <form>
      <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="itemName" [ngModelOptions]="{standalone: true}"  class="form-control" id="name" placeholder="Enter Name">
   
      </div>
   
      <div class="form-group">
          <label>Quantity</label>
          <input type="text" [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}"  class="form-control" id="address" placeholder="Enter quantity">
    
        </div>
   
        <div class="form-group">
          <label>ID</label>
          <input type="text" [(ngModel)]="id" [ngModelOptions]="{standalone: true}" class="form-control" id="mobile" placeholder="Enter ID">
    
        </div>

        <div class="form-group">
          <label>price</label>
          <input type="text" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" class="form-control" id="mobile" placeholder="Enter price">
    
        </div>

        <div class="form-group">
          <label>Grade</label>
          <input type="text" [(ngModel)]="grade" [ngModelOptions]="{standalone: true}" class="form-control" id="grade" placeholder="Enter grade">
    
        </div>
      
      <button type="submit" class="btn btn-primary mt-4" (click)="save()" >Submit</button>
    </form>
  </div>
  </div>
      
     
   
   
      <div class="container mt-4" >
   
          <h1>Item Table</h1>
   
   
   
   
      <table class="table">
          <thead>
           <h1 *ngIf="!isResultLoaded">Loading.................</h1>
          
          <tr>
              <th scope="col">id</th>
              <th scope="col">itemName</th>
              <th scope="col">quantity</th>
              <th scope="col">price</th>
              <th scope="col">grade</th>
              <!-- <th scope="col">Option</th> -->
              
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let ItemInfo of ItemArray">
   
              <th scope="row">{{ItemInfo.id  }}</th>
              <td>{{ItemInfo.itemName  | uppercase}}</td>
              <td>{{ItemInfo.quantity }}</td>
              <td>{{ItemInfo.price }}</td>
              <td>{{ItemInfo.grade }}</td>
   
              <td>
                <button type="button" class="btn btn-success" (click)="setUpdate(ItemInfo)">Edit</button>
                
                <button type="button" class="btn btn-danger" (click)="setDelete(ItemInfo)">Delete</button>
              
              </td>
            </tr>
            
          </tbody>
        </table>
   
   
      </div>